.ingredients {
  margin: 2rem 0;

  &-item {
    border-bottom: 1px solid #aaa;
    padding: 1rem 2rem;

    &:last-child {
      border-bottom: 0;
    }
  }

  &-quantity {
    background-color: orange;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1rem;
  }
}
