.header {
  background-size: cover;
  color: white;
  padding: 10rem 0 2rem;
  border-radius: 0 0 1rem 1rem;

  /*
  .header-title  { // .header .header-title
    background-color: red;
  }
  */

  &-title { // .header-title
    font-size: 2em;
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0.3rem;
  }
  
  &-info {
    color: white;
    font-size: 0.8em;
    letter-spacing: 0.1em;
  }

  &-content {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 1rem;
  }
  
}
